.landing {
  background-image: url(../assets/minimalist.png);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8vh 2vw 0 2vh;
}

.content {
  width: 50vw;
}

.content * {
  margin-left: 0 !important;
}

.landing h1 {
  margin: 0;
  font-size: 6rem;
}

.singleTask {
  background-color: white;
  border-radius: 5%;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}
